/*Customize core html elements*/

body {
    font-family: "Gothic A1", Sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 72px;
}

ul {
    list-style-type: none;
}


/*Layout*/
.container {
    max-width: 1400px;
    padding: 0px;
}

.container-fluid {
    padding: 0px;
}

.row {
    margin: 0px;
}


/*Buttons*/
.btn {
    border-radius: 25px;
    font-size: 14px;
    padding: 16px 52px 13px 52px;
}

.btn-outline-dark {
    background-color: white;
    border: none;

    margin: 50px 0px;
}

.btn-outline-light {
    background-color: #191919;
    border-color: #191919;
}

.btn-outline-light:hover {
    background-color: white;
    border-color: #191919;
}


/*Navbar area*/
.navbar {
    padding: 21px;
}

.menu-btn {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.menu-btn:hover {
    text-decoration: underline;
    color: white;
}

.menu-count {
    color: white;
    font-size: 14px;
}

#search {
    font-size: 22px;
}

.dropdown-menu {
    display: none;
    border-radius: 0px;
    border: none;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.nav-link {
    color: white;
    font-size: 14px;
}

.navbar-toggler {
    border: none !important;
    color: white;
    font-size: 24px;
    padding: 0;
}


/*Carousel area*/
.slider-icon-active {
    background-color: transparent;
    background-image: radial-gradient(at center center, #FFFFFF 25%, #F2295B00 25%);
    width: 36px;
    height: 36px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.slider-icon {
    margin: 0px 3px 0px 3px;
    background-color: transparent;
    background-image: radial-gradient(at center center, #FFFFFF4D 25%, #FFFFFF00 25%);
    width: 36px;
    height: 36px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #02010100;
}

#custom-carousel {
    background-image: url('img/slide1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 693px;
}


/*Cards*/
.card {
    padding: 49px 40px 45px 39px;
    border-radius: 0%;
    border-color: #3d3d3d;
    height: 500px;
}

.card-number {
    font-size: 18px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
}

.card-text {
    font-size: 14px;
    font-weight: 300;
    color: #999999;
}


/*Section elements*/
.section {
    padding: 150px 10px;
    max-width: 1200px;
    color: #191919;
    font-family: "Gothic A1", Sans-serif;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    padding: 0px;
}

.section-p {
    font-size: 18px;
    font-weight: 400;
    padding: 0px;
}


/*Image overlay components*/
.image_wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    background: rgba(57, 57, 57, 0.9);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay-title {
    font-weight: 900;
    font-size: 20px;
    color: white;
    text-align: center;
}

.overlay-subtitle {
    font-weight: 200;
    font-size: 15px;
    color: rgb(166, 166, 166);
    text-align: center;
}