.container {
    max-width: 1400px;
}

.p-21px {
    padding: 21px;
}

ul {
    list-style-type: none; 
}

.menu-btn {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.menu-btn:hover {
    text-decoration: underline;
    color: white;
}

.menu-count {
    color: white;
    font-size: 14px;
}

body {
    font-family: "Gothic A1", Sans-serif;
  }

h1 {
    font-weight: 700;
    font-size: 72px;
}

.btn-outline-dark {
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 16px 52px 13px 52px;
    font-size: 14px;
    margin: 50px 0px;
}


.dropdown-menu {
    display: none;
}

.nav-link {
    color: white;
    font-size: 14px;
}

.slider-icon-active {
    background-color: transparent;
    background-image: radial-gradient(at center center, #FFFFFF 25%, #F2295B00 25%);
    width: 36px;
    height: 36px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.slider-icon {
    margin: 0px 3px 0px 3px;
    background-color: transparent;
    background-image: radial-gradient(at center center, #FFFFFF4D 25%, #FFFFFF00 25%);
    width: 36px;
    height: 36px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #02010100;
}

#custom-carousel {
    background-image: url('slide1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 693px;
}